/* Reseteo de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Barra superior */
.navbar {
    display: flex;
    background-color: #6fc565;
    padding: 10px;
    align-items: center;
}

/* Espacio para el logo */
.logo {
    flex: 1;
    color: white;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilo de las secciones de la barra */
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.navbar a:hover {
    background-color: #497e45;
}

/* Secciones de contenido */
.section-content {
    display: none;
    padding: 20px;
}

.active-section {
    display: block;
}
