.card-container{
    margin: 2rem 3rem;
    display: grid;
    gap: 2rem;
}
.card-poster{
    box-shadow: 0.5rem 0.8rem 0.8rem 0rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

img{
    border-radius: 1rem;

}


h2{
    font-size: 3rem;
}
p{
    font-size: 2rem;
}
