.content-container {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.portada-image {
    width: 25rem;
}

.content-container_left {
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.content-container_left h2 {
    padding-top: 2rem;
}
