.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
  padding: 1.5rem 7%;
  font-size: 1.7rem;
}


.header-logo{
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  user-select: none;
}

.search-form{
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 50rem;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 1.5rem 4rem;
  height: 3.5rem; 
  border: 0.1rem solid #ccc; 
  border-radius: 2.5rem; 
  position: relative;  
}

input:focus{
  outline: none;
}


.search-button{
  max-width: 5rem;
  background-color: #ffffff; 
  border: none; 
  border-radius: 50%;
  width: 3rem; 
  height: 3rem; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  transition: background-color 0.3s;
  margin-left: -4rem;
  z-index: 1;
}

.search-icon{
  width: 2rem; 
  height: 2rem;
}


.advancedSearch-button{
  max-width: 5rem;
  background-color: #ffffff; 
  border: none; 
  border-radius: 50%;
  width: 3rem; 
  height: 3rem; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  position:absolute;
  z-index: 1;
  margin-left: 1rem;
}
.advancedSearch-icon{
  width: 2rem; 
  height: 2rem;
}

