.header-container {
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    background-color: #1D2D44;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; /* Para que los elementos puedan ocupar varias líneas si es necesario */
  }
  
  .header-logo {
    margin-left: 30px;
    width: 75px;
    height: 75px;
    flex-shrink: 0; /* No permite que el logo se reduzca más allá de su tamaño */
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Permite que el formulario crezca y ocupe más espacio */
    margin-left: 20px;
  }
  
  .search-input {
    max-width: 600px; 
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para asegurarse de que el padding no desborde el contenedor */
  }
  
  .search-button {
    padding: 10px 20px;
    height: 45px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0; /* El botón no se reduce más allá de su tamaño mínimo */
  }
  