.container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .book-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
  }
  
  .book-card {
    background-color: #fff;
    padding: 0.2rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  }
  
  .book-card img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .book-card h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .book-card p {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  