:root {
  --black: #0D1321;
  --blue: #1D2D44;
  --blue2: #3E5C76;
  --lightblue: #748CAB;
  --white: #E8E9EB;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
